%h1== Listing #{@user.name.possessive unless @user.nil?} scripts

%table
  - @scripts.each do |script|
    %tr
      %td
        %b= hamlink_to script, :text => script.base_uri
      %td= hamlink_to :edit, script
      %td= hamlink_to :destroy, script

%p= hamlink_to :new, Script
