%h1 Listing users

%table
  - @users.each do |user|
    %tr
      %td= user.name
      %td= hamlink_to user
      %td= hamlink_to :edit, user
      %td= hamlink_to :destroy, user

= hamlink_to :new, User
